/* fonts */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Inter var', system-ui, sans-serif;
  line-height: 1.6;
}

img {
  margin-bottom: 28px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tile .title {
  margin-bottom: 10px;
  line-height: 1.3;
}

.tile .subtitle {
  margin-bottom: 20px;
  line-height: 1.5;
}

.subtitle {
  line-height: 1.5;
}
