/* fonts */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter var', system-ui, sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
